# Java
*.class
*.jar
*.war
*.ear

# Eclipse
#.project
.classpath
.settings/

# Idea
.idea
*.iml
*.ipr
*.iws

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
bin/
build/
out/
logs/

# Other
*~
*.bak
*.log
*.swp
*.tmp
hs_err_pid*
.recommenders/

# STS
/.apt_generated/
.factorypath
.springBeans

# npm
bower_components
node_modules
